.search-bar {
  padding: 8px;
  background: var(--ion-color-light);
}

.poke-col {
  padding: 8px;
}

.poke-card {
  border-radius: var(--pokemon-card-border-radius);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
  justify-content: center;
  padding: 16px;
  background: var(--ion-color-light-tint);
  border-top-left-radius: var(--pokemon-card-border-radius);
  border-top-right-radius: var(--pokemon-card-border-radius);
}

ion-card-header {
  position: relative;
  padding-bottom: 30px;
}

.poke-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--ion-color-dark);
}

.poke-id {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 0.9rem;
  color: var(--ion-color-medium);
  font-weight: bold;
}

.favorite-button {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: var(--favorite-button-size);
  height: var(--favorite-button-size);
}