<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pokemons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    placeholder="Buscar"
    [(ngModel)]="searchTerm"
    (ionInput)="filterPokemons()"
    debounce="300">
  </ion-searchbar>
</ion-content>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let p of pokemons">
        <ion-card (click)="goToDetails(p.id)">
          <img [src]="p.sprites.front_default" />
          <ion-card-header>
            <ion-card-title>{{ p.name | titlecase }}</ion-card-title>
            <ion-button fill="clear" (click)="toggleFavorite(p); $event.stopPropagation()">
              <ion-icon slot="icon-only" [name]="isFav(p.id) ? 'heart' : 'heart-outline'"></ion-icon>
            </ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="full" (click)="previousPage()">anterior</ion-button>
  <ion-button expand="full" (click)="nextPage()">próximo</ion-button>
</ion-content>