<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title aria-label="Lista de Pokemons">Pokemons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar" [(ngModel)]="searchTerm" (ionInput)="filterPokemons()" debounce="300"
    class="search-bar">
  </ion-searchbar>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let p of pokemons" class="poke-col" size-md="4">
        <ion-card (click)="goToDetails(p.id)" class="poke-card">
          <div class="image-container">
            <img [src]="p.sprites.front_default" alt="'Imagem do pokemon ' + p.name" loading="lazy" class="poke-image"/>
          </div>
          <ion-card-header>
            <ion-card-title class="poke-name">{{ p.name | titlecase }}</ion-card-title>
            <span class="poke-id">${{ p.id | number:'3.0' }}</span>
          </ion-card-header>

          <ion-button fill="clear" (click)="toggleFavorite(p); $event.stopPropagation()" class="favorite-button">
            <ion-icon slot="icon-only" [name]="isFav(p.id) ? 'heart' : 'heart-outline'" [color]="isFav(p.id) ? 'danger' : 'medium'"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>    
  </ion-grid>

  <ion-footer>
    <ion-toolbar class="pagination-toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="previousPage()" fill="outline" color="tertiary" class="pagination-button">← Anterior</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="nextPage()" fill="outline" color="tertiary" class="pagination-button">Próximo →</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>